.grid {
  margin: 100px 0 0;
}
.btn{
  padding: 14px;
    font-size: larger;
    margin-top: 50px;
    border-radius: 50px;
    background-color: #678791;
}

.btn:hover{
  padding: 14px;
    font-size: larger;
    margin-top: 50px;
    border-radius: 50px;
    background-color: #1F79DC;
}
